<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Archetype Created Web Application</display-name>
 <servlet>
  <servlet-name>addEmployeeAjax</servlet-name>
  <display-name>addEmployeeAjax</display-name>
  <jsp-file>/index.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>about</servlet-name>
  <display-name>about</display-name>
  <jsp-file>/about.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>contacts</servlet-name>
  <display-name>contacts</display-name>
  <jsp-file>/contacts.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>login</servlet-name>
  <display-name>login</display-name>
  <jsp-file>/login.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
  <servlet-name>addEmployeeAjax</servlet-name>
  <url-pattern>/addEmployeeAjax</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>about</servlet-name>
  <url-pattern>/about</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>contacts</servlet-name>
  <url-pattern>/contacts</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
 </welcome-file-list>
</web-app>
