<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Archetype Created Web Application</display-name>
 <servlet>
  <servlet-name>about</servlet-name>
  <display-name>about</display-name>
  <jsp-file>/about-us.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>contact</servlet-name>
  <display-name>contact</display-name>
  <jsp-file>/contacts.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>contactUsForm</servlet-name>
  <servlet-class>Servlets.contactUsForm</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>projects</servlet-name>
  <display-name>projects</display-name>
  <jsp-file>/projects.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
  <servlet-name>about</servlet-name>
  <url-pattern>/about</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>contact</servlet-name>
  <url-pattern>/contact</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>contactUsForm</servlet-name>
  <url-pattern>/contactUsForm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>projects</servlet-name>
  <url-pattern>/projects</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>401</error-code>
  <location>/errors/401.jsp</location>
 </error-page>
 <error-page>
  <error-code>403</error-code>
  <location>/errors/403.jsp</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/errors/404.jsp</location>
 </error-page>
 <error-page>
  <error-code>405</error-code>
  <location>/errors/405.jsp</location>
 </error-page>
 <error-page>
  <error-code>422</error-code>
  <location>/errors/422.jsp</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/errors/500.jsp</location>
 </error-page>
</web-app>
